@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@font-face{
	font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf');
}
@font-face{
	font-family: 'Arial';
    src: url('../fonts/Arial.ttf');
}


body{
	background-color: #fafbfc;
	// height: 5000px;
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

/* Nav Bar */
.kpi-nav{
	width: 100%;
	z-index: 9999999999999999;
	height: 85px;
	transition: border-bottom .2s;
    box-shadow: rgba(93, 93, 93, 0.35) 5px 2px 8px;
    position: relative;
    border-bottom: 2px solid #CCC;
	&.fix{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 85px;
		z-index: 333333333;
	    opacity: 1;
	    background-color: #FFF;
	    transition: opacity .3s;
	    box-shadow: 0 10px 15px rgba(25,25,25,0.1);
	}
	.container-fluid{
		height: 100%;
		position: relative;
	}
	.logo{
	    float: left;
	    height: 100%;
	    width: 123px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    img{
	       	width: 117px;
			height: 46px;
		}
	}	
	.links{
	    float: left;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    z-index: 99999999999;
       	margin-left: 25px;
	    top: 50%;
	    transform: translateY(-50%);	
	    li{
    	    position: relative;
		    float: left;
		    padding: 6px 0;
		    &:hover a{
		    	border: 0;
		    }
			@media (max-width: 991px){
				&{
					float: none;
			    	margin-bottom: 7px;
				}
			}
		    &:hover .tglSub i{
		    	color: #269ab4;
		    }
	 		a{
				text-decoration: none;
			    position: relative;
	            padding: 30px 10px 31px 15px;
			    cursor: pointer;
		        letter-spacing: inherit;
			    color: #007db8;
			    font-weight: 600;
				font-size: 17px;
		        // color: #269ab4;
			    transition: .2s;
			    &:hover{
			    	color: #6f2e84;
			    }
			    i{
		    	    margin-left: 11px;
				    font-size: 20px;
				    position: relative;
				    transition: .1s;
				    top: 2px;
			    }	
				@media (max-width: 991px){
					&{
						font-size: 18px;
					}
					&:hover{
						transition: .1s;
						color: #0ca7aa;
					    margin-left: 10px;
					}
				}
			}
			.subject-menu, .webinar-menu, .english-menu, .technology-menu, .creative-menu{
				position: absolute;
				display: none;
			    width: 289px;
			    background: #f7f7f7;
		        top: 62px;
			    left: 0;
			    border-radius: 0 0 7px 7px;
			    cursor: default;
			    z-index: 99999999999;
			    border: 1px solid #5b5b75;
			    border-top: 0;
			    @media (max-width: 1425px){
					&{
					    display: block;
					    position: static;
					    width: 100%;
					    border: 0;
					    margin-top: 15px;
					}
				}
			    li{
		    	    position: relative;
				    cursor: pointer;
				    transition: .2s;
				    z-index: 99999;
				    float: none;
				    padding: 0;
				    margin-right: 0;
				    border: 0;
				    margin-right: 0;
    				&:not(:last-child){
    					border-bottom: 1px solid #CCC;
    				}
			    	.pMenu{
	    		        color: #646464;
					    transition: .1s;
					    text-decoration: none;
					    font-size: 18px;
					    margin: 0;
				        padding: 13px 19px 13px 10px;
					    &:hover{
						   	color: #2daec7;
					    }
					    &:hover svg{
						   	fill: #2daec7;
					    }
					    svg{
					    	width: 20px;
						    margin-right: 9px;
						    transition: .1s;
						    position: relative;
						    top: 0;
						    transform: translateY(-10%);
					    }
					    i{
					    	float: right;
    						margin-top: 5px;
    						transition: .3s;
					    }
			    	}
			    	.sub-active{
			    		color: #6f2e84;
			    		&:hover{
			    			color: #6f2e84;
			    		}
			    		&:hover svg{
				    		fill: #6f2e84;
				    	}
			    		svg{
			    			fill: #6f2e84;
			    		}
			    		i{
			    			transform: rotate(-90deg);
			    		}
			    	}
			    	.sub-men{
	    		        display: block;
					    position: absolute;
					    right: -224px;
				        background: #f7f7f7;
					    top: -1.4px;
					    margin: 0px;
					    display: none;
					    width: 223px;
					    border: 1px solid #CCC;
					    @media (max-width: 1425px){
					    	&{
				    		    display: none;
							 	position: static;
							 	border-radius: 0;
							    width: 100%;
							    border: 0;
					    	}
					    }
					    li{
			    	        border: none;
				            padding: 14.8px 11px;
					        &:not(:last-child){
					        	border-bottom: 1px solid #CCC;
					        }
    						&:hover{
    							background: #e8e8e8;
    						}
    						&:hover a{
							    color: #269ab4;
    						}
    						a{
    							color: #646464;
    							transition: .2s;
    							padding: 0;
    							font-size: 16px;
    						}
					    }
			    	}
			    }
			}
			.technology-menu, .english-menu{
			    width: 413px;
			}
			.sub-link-active{
				&{
			        border-left: 1px solid #CCC !important;
				    border-right: 1px solid #CCC !important;
				    background: #f7f7f7;
				    color: #6f2e84;
				    transition: .2s;
				    border-bottom: 1px solid #f7f7f7 !important;
				    i{
				    	color: #6f2e84;
			    	    transform: rotate(-90deg);
				    }
				}
			}
			.tglSub{
	            border-left: 1px solid #FFF;
			    border-right: 1px solid #FFF;
		    }
			.courses-menuTow{
				position: static;
			    width: 100%;
			    background-color: #F00;
			    top: 84px;
			    left: 0;
			    display: none;
			    cursor: default;
			    z-index: 99999999999;
			    // display: grid;
			    border-bottom: solid 1px #ededee;
			    background: #fafafa;
			    grid-template-columns: repeat(1, 1fr);
			    padding: 9px 12px;
			    grid-gap: 15px;
			    .course-mn{
				    background: #FFF;
				    background-position: bottom 20px right -31px;
				    background-size: 111px;
				    background-repeat: no-repeat;
				    transition: .2s;
				    border: 2px solid #FFF;
				    &:hover{
				    	border: 2px solid #e20e9a;
		    			border-radius: 5px;
				    }
				    &:first-of-type{
				    	background-image: url("https://cdn.futurelearn.com/packs/app/assets/images/course_symbols/courses-on-white-726647734eb04a66c4f8ae2196f9d34d.jpg");
			    	}
			    	&:nth-of-type(2){
				    	background-image: url("https://cdn.futurelearn.com/packs/app/assets/images/course_symbols/degrees-on-white-487138d55e9c9e52186c2bd37f229adb.jpg");
			    	}
			    	&:nth-of-type(3){
				    	background-image: url("https://cdn.futurelearn.com/packs/app/assets/images/course_symbols/programs-on-white-49cb164b0b6da496c290e15dbc240c16.jpg");
			    	}
			    	&:last-of-type{
				    	background-image: url("https://cdn.futurelearn.com/packs/app/assets/images/course_symbols/courses-on-white-726647734eb04a66c4f8ae2196f9d34d.jpg");
			    	}
		    		a{
		    			transition: color linear 0.4s;
					    text-decoration: none;
					    background-color: transparent;
					    color: #de00a5;
					    display: block;
					    height: 100%;
		    			padding: 0.75rem 5rem 1rem 17px;
		    			h3{
			    			color: #6a2f8d;
						    margin: 0;
						    font-size: 22px;
						    @media (max-width: 1242px){
						    	&{
						    		font-size: 18px;
						    	}
						    }
			    		}
			    		p{
						    color: #3a343a;
						    font-size: 18px;
						    margin: 0;
						    margin-top: 9px;
						    @media (max-width: 1242px){
						    	&{
						    		font-size: 15px;
						    	}
						    }
			    		}
		    		}
			    }
			}
		}
		@media (max-width: 991px){
			&{
				width: 100%;
			    float: none;
			    top: auto;
			    transform: translateY(0);
			    margin-left: 0;
			    margin-bottom: 17px;
			}
		}
		@media (max-width: 1425px){
			&{
			    position: absolute;
			    top: 85px;
			    background: #FFF;
			    display: none;
			    left: 0;
			    border-top: 1px solid #CCC;
			    margin: 0;
			    width: 100%;
			    z-index: 999999999;
			    transform: translate(0);
			    li{
			    	float: none;
				    padding: 8px 20px;
				    cursor: pointer;
				    &:hover a{
				    	color: #6a2f8d;
				    }
				    &:hover i{
				    	color: #6a2f8d;
				    }
			    	a{
			    		padding: 0;
    					font-size: 23px;
    					&:before{
    						width: 0;
    						height: 0;
    					}
			    		i{
			    			float: right;
						    margin: 0;
						    font-size: 24px;
						    top: 5px;
			    		}
			    	}
			    }
			}
		}
	}
	.search-frm{
		float: right;
	    width: 300px;
	    height: 100%;
	    display: flex;
	    position: relative;
	    align-items: center;
	    justify-content: center;
		.search{
			width: 100%;
		    transition: all 1.5s;
		    height: 42px;
		    overflow: hidden;
		    background: #fff;
		    position: relative;
		    input{
				width: 100%;
			    font-size: 17px;
			    height: 100%;
			    border: none;
			    background: none;
			    color: #000;
			    text-indent: 9px;
			    transition: .3s;
			    outline: none;
			    float: right;
			    direction: ltr;
			    box-shadow: none;
			    padding: 0;
			    border-left: 1px solid #d3d3d3;
			    border-top: 1px solid #d3d3d3;
			    border-bottom: 1px solid #d3d3d3;
			    &:focus{
			    	border-left: 2px solid #6a2f8d;
				    border-top: 2px solid #6a2f8d;
				    border-bottom: 2px solid #6a2f8d;
			    }
			}
			button{
			    position: absolute;
			    right: 0;
			    top: 0;
			    border: none;
			    box-shadow: none;
			    padding: 0;
			    text-shadow: none;
			    transition: .3s;
			    height: 100%;
			    width: 46px;
			    background: #269ab4;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    &:hover{
					background: #6a2f8d;
				}
			    i{
					    color: #FFF;
	    				font-size: 19px;
				}
			}
		}
		.close-srch{
		    position: absolute;
		    right: 17px;
		    cursor: pointer;
		    top: 10px;
		    font-size: 24px;
		    display: none;
		    color: #6a2f8d;
		}
		@media (max-width: 1425px){
			&{
				position: absolute;
			    top: 85px;
			    display: none;
			    background: #ededee;
			    border-top: 1px solid #CCC;
			    width: 100%;
			    z-index: 9999999999;
			    left: 0;
    			height: 130px;
    			.search{
    				width: 65%;
    				position: absolute;
    				top: 50%;
    				left: 50%;
    				transform: translate(-50%, -50%);
    			}
    			.close-srch{
    				display: block;
    			}
			}
		}
	}	
	.link-a{
		float: right;
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    height: 100%;
	    display: flex;
	    align-items: center;
	    margin-left: 13px;
	    a{
		    text-decoration: none;
		    padding: 4px 17px;
		    color: #FFF;
		    font-size: 18px;
		    background: #269ab4;
		    cursor: pointer;
		    line-height: 1.8;
		    transition: .3s;
		    font-weight: 500;
			&:hover{
				background: #6a2f8d;
			}
		}
	}
	.regtr{
		@media (max-width: 650px){
			&{
				display: none;
			}
		}
	}
	.tgl-menu, .tgl-search{
	    font-size: 30px;
	    float: right;
	    color: #222;
	    cursor: pointer;
	    display: none;
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    margin-left: 13px;
	    @media (max-width: 1425px){
			&{
				display: block;
			}
		}
	}
	.menu-active, .search-active{
		color: #6a2f8d;
	}
	.tgl-search{
		font-size: 26px;
	}
}
.kpiNvA_subject, .kpiNvA_Webinar{
	border-bottom: 1px solid #CCC;
	transition: border-bottom .2s;
}	

/* Banner */
.kpi-banner{
    width: 100%;
    position: relative;
    height: 391px;
    border-bottom: 1px solid #ededee;
    .overlay{
    	position: absolute;
    	top: 0;
    	left: 0;
    	display: none;
    	width: 100%;
    	height: 100%;
    	background: rgba(0,0,0,.6);
    	z-index: 545;
    	@media (max-width: 1313px){
    		&{
    			display: block;
    		}
    	}
    }
    .container-fluid{
    	height: 100%;
    	.info{
    		position: relative;
		    top: 50%;
		    width: 39%;
		    margin-left: 164px;
		    transform: translateY(-50%);
		    z-index: 60;
		    @media (max-width: 1313px){
	    		&{
	    			z-index: 6564564;
	    			position: absolute;
				    top: 50%;
				    left: 50%;
				    margin: 0;
				    text-align: center;
				    width: 100%;
				    transform: translate(-50%, -50%);
	    		}
	    	}
    		h3{
			    margin-bottom: 18px;
			    font-weight: 200;
			    font-size: 44px;
			    color: #6F2E82;
			    font-family: 'Poppins', sans-serif;
			    @media (max-width: 1313px){
		    		&{
		    			color: #FFF;
					    text-align: center;
					    font-size: 39px;
    					margin: 0 0 10px 0px;
		    		}
		    	}
		    	@media (max-width: 750px){
		    		&{
		    			font-size: 35px;
		    		}
		    	}
		    	@media (max-width: 580px){
		    		&{
		    			font-size: 29px;
		    		}
		    	}
		    	.spn{
					border-right: .09em solid;
					border-color: #269ab4;
					animation: caret 1s steps(1) infinite;
				}
				@keyframes caret {
				  50% {
				    border-color: transparent;
				  }
				}
	    	}
	    	p{
	    		font-size: 16px;
			 	margin-bottom: 45px;
			 	color: #333831;
			 	@media (max-width: 1313px){
		    		&{
	    			    color: #FFF;
					    font-size: 16px;
					    width: 69%;
					    margin: 0 auto 60px auto;
		    		}
		    	}
		    	@media (max-width: 750px){
		    		&{
		    			font-size: 15px;
					    width: 76%;
					    margin: 0 auto 34px auto;
		    		}
		    	}
	    	}
	    	a{
			    text-decoration: none;
		        padding: 4px 19px;
			    line-height: 1.8;
			    color: #FFF;
			    font-size: 20px;
			    font-weight: bold;
			    cursor: pointer;
			    transition: .2s;
			    background: #269ab4;
			    &:hover{
			    	background: #6a2f8d;
			    }
		    	@media (max-width: 575px){
		    		&{
		    		    font-size: 16px;
    					padding: 10px 28px;
			    	}
		    	}
	    	}
    	}
    	img{
		    top: 0;
		    right: 0;
		    position: absolute;
		    width: 55%;
		    height: 100%;
		    @media (max-width: 1313px){
	    		&{
    			    width: 100%;
					height: 100%;
	    		}
	    	}
    	}
    }
}

/* Why */
.why{
	width: 100%;
	padding-top: 27px;
    background-color: #fafafa;
    border-top: 1px solid #f3f3f3;
    .container{
    	width: 100%;
    	height: 100%;
    	.why_content{
    		width: 100%;
    		margin: 37px 0;
    		h3{
			    margin-bottom: 43px;
			    font-weight: 600;
			    font-size: 24px;
			    text-align: center;
    		}
    		.why_boxs{
    			width: 100%;
    			display: grid;
    			grid-template-columns: repeat(3, 1fr);
    			.why_box{
    				padding: 0 20px;
    				svg{
					    fill: #222;
    				}
    				h4{
    					color: #222;
					    font-size: 20px;
					    margin: 24px 0 18px 0px;
					    font-weight: 600;
    				}
    				p{
    					margin: 0;
					    font-size: 15px;
					    font-weight: 600;
    				}
    			}
			    @media (max-width: 1022px){
			    	&{
			    		grid-template-columns: repeat(1, 1fr);
			    		.why_box{
			    			margin-bottom: 41px;
			    			svg{
			    				margin: 0 auto;
    							display: block;
			    			}
			    			h4, p{
			    				text-align: center;
			    			}
			    		}
			    	}
			    }
    		}
    	}
    }
}

/* Leasons */
.leasons{
    width: 100%;
    margin-top: 63px;
    padding: 20px 0;
    h2{
		color: #222;
	    padding: 0 0 17px 0;
	    border-bottom: 2px solid #e7e7e7;
	    margin: 0;
	    font-weight: 600;
	    text-align: center;
	    font-size: 24px;
	    position: relative;
	    &:before{
			content: "";
		    position: absolute;
		    bottom: -2px;
		    background-color: #269ab4;
		    left: 50%;
		    transform: translateX(-50%);
		    width: 33%;
		    height: 2px;
	    }
    	span{
    		color: #269ab4;
    	}
    	@media (max-width: 768px){
    		&{
    			font-size: 27px;
    		}
    	}
    	@media (max-width: 520px){
    		&{
    			font-size: 21px;
    		}
    	}
    }
    .bas{
	    width: 100%;
	    display: grid;
	    grid-gap: 15px;
	    margin: 42px 0px 0 0;
	    grid-template-columns: repeat(3, 1fr);
	    .sl{
		    display: block;
		    text-decoration: none;
			text-align: center;
            padding: 31px 0px;
            overflow: hidden;
            position: relative;
		    cursor: pointer;
		    &:before{
		    	content: "";
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	z-index: 2;
		    	width: 100%;
		    	height: 100%;
		    	background-color: #000000b5;
		    }
		    .back{
		    	width: 100%;
		    	height: 100%;
		    	position: absolute;
		    	top: 0;
		   		transition: all 1.2s;
		    	left: 0;
		    	background-repeat: no-repeat;
			    background-size: 100% 100%;
		    }
		    .back_accreedited_courses{
		    	background-image: url(../img/subjects/marketing.jpg);
		    }
		    .back_development_paths{
		    	background-image: url(../img/development.jpg);
		    }
		    .back_businnes_softwares{
		    	background-image: url(../img/softwares.jpg);
		    }
		    &:hover .back{
		    	transform: scale(1.2);
		    	transition: all 1.5s;
		    }
		    // &:hover svg{
		    // 	fill: #6f2e84;
		    // }
		    // &:hover h3{
		    // 	color: #6f2e84;
		    // }
	    	svg{
	    		fill: #FFF;
	    		transition: .2s;
	    		margin-bottom: 17px;
    		    z-index: 3;
    		    position: relative;
	    	}
	    	h3{
    		    color: #FFF;
			    margin: 0;
			    transition: .2s;
			    font-weight: 600;
		        position: relative;
	            z-index: 3;
		        font-size: 19px;
	    	}
	    }
	    @media (max-width: 1482px){
    		&{
    			grid-template-columns: repeat(3, 1fr);
    		}
    	}
    	@media (max-width: 768px){
    		&{
    			grid-template-columns: repeat(2, 1fr);
    		}
    	}
    	@media (max-width: 582px){
    		&{
    			grid-template-columns: repeat(1, 1fr);
    		}
    	}
    }
    .view_all{
    	display: block;
	    padding: 9px 0;
	    border: 1.6px solid #269ab4;
	    text-align: center;
	    margin: 43px auto 0 auto;
	    color: #269ab4;
	    font-size: 14px;
	    font-weight: 800;
	    width: 147px;
	    text-decoration: none;
    }
}

/* Free Courses */
.top_free{
    width: 100%;
    margin: 49px 0 0 0;
    h2{
    	color: #222;
	    padding: 0 0 17px 0;
	    border-bottom: 2px solid #e7e7e7;
	    margin: 0;
	    font-weight: 600;
	    text-align: center;
	    font-size: 24px;
	    position: relative;
	    &:before{
			content: "";
		    position: absolute;
		    bottom: -2px;
		    background-color: #269ab4;
		    left: 50%;
		    transform: translateX(-50%);
		    width: 33%;
		    height: 2px;
	    }
    }
    p{
	    text-align: center;
	    color: #8a8a8a;
	    padding: 0 139px;
	    margin: 25px 0;
	    @media (max-width: 991px){
	    	&{
	    		padding: 0;
	    	}
	    }
    }
    .box_courses{
	    margin: 20px 0 0 0;
	    display: flex;
	    .cour_one{
			width: 60%;
		    height: 467px;
		    margin-right: 10px;
		    overflow: hidden;
		    cursor: pointer;
		    position: relative;
		    &:hover .back{
		    	transform: scale(1.2);
		    }
	    	.back{
	    		width: 100%;
	    		height: 100%;
	    		background-image: url("../img/development.jpg");
		    	background-repeat: no-repeat;
	    	    transition: all 1.5s;
		    	background-position: center;
		    	background-size: 100% 100%;
	    	}
	    	.over{
	            position: absolute;
			    bottom: 0;
			    left: 0;
			    width: 100%;
			    height: 103px;
			    padding: 27px 10px 10px 10px;
				background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.7035189076) 50%, rgba(0, 0, 0, 0) 100%);
	    		.time{
	    		    display: flex;
		    		p{
		    			color: #FFF;
					    margin: 0;
					    font-size: 15px;
					    padding: 0;
					    margin-right: 21px;
		    			svg{
    				        fill: #FFF;
						    width: 16px;
						    margin-right: 0px;
						    position: relative;
						    top: -2px;
		    			}
		    		}
		    	}
		    	h3{
	    		    color: #FFF;
				    font-size: 19px;
				    font-weight: 700;
				    margin: 0 0 10px 0;
		    	}
	    	}
	    }
	    .cour_tow{
	    	width: 40%;
	    	.o{
	    		width: 100%;
	    		cursor: pointer;
	    		overflow: hidden;
	    		height: 50%;
	    		position: relative;
	    		&:hover .back{
			    	transform: scale(1.2);
			    }
	    		.back{
	    			width: 100%;
	    			height: 100%;
	    			background-image: url("../img/courses.jpg");
		    		background-repeat: no-repeat;
		    		transition: all 1.5s;
		    		background-position: center;
		    		background-size: 100% 100%;
	    		}
	    		.over{
		            position: absolute;
				    bottom: 0;
				    left: 0;
				    width: 100%;
				    height: 103px;
				    padding: 27px 10px 10px 10px;
					background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.7035189076) 50%, rgba(0, 0, 0, 0) 100%);
		    		.time{
		    		    display: flex;
			    		p{
			    			color: #FFF;
						    margin: 0;
						    font-size: 15px;
						    padding: 0;
						    margin-right: 21px;
			    			svg{
	    				        fill: #FFF;
							    width: 16px;
							    margin-right: 0px;
							    position: relative;
							    top: -2px;
			    			}
			    		}
			    	}
			    	h3{
		    		    color: #FFF;
					    font-size: 19px;
					    font-weight: 700;
					    margin: 0 0 10px 0;
			    	}
		    	}
	    	}
	    	.t{
	    		width: 100%;
	    		height: 50%;
	    		cursor: pointer;
	    		overflow: hidden;
	    		padding-top: 10px;
	    		position: relative;
	    		&:hover .back{
			    	transform: scale(1.2);
			    }
	    		.back{
	    			width: 100%;
	    			height: 100%;
	    			transition: all 1.5s;
		    		background-position: center;
	    			background-image: url("../img/softwares.jpg");
		    		background-repeat: no-repeat;
		    		background-size: 100% 100%;
	    		}
	    		.over{
		            position: absolute;
				    bottom: 0;
				    left: 0;
				    width: 100%;
				    height: 103px;
				    padding: 27px 10px 10px 10px;
					background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.7035189076) 50%, rgba(0, 0, 0, 0) 100%);
		    		.time{
		    		    display: flex;
			    		p{
			    			color: #FFF;
						    margin: 0;
						    font-size: 15px;
						    padding: 0;
						    margin-right: 21px;
			    			svg{
	    				        fill: #FFF;
							    width: 16px;
							    margin-right: 0px;
							    position: relative;
							    top: -2px;
			    			}
			    		}
			    	}
			    	h3{
		    		    color: #FFF;
					    font-size: 19px;
					    font-weight: 700;
					    margin: 0 0 10px 0;
			    	}
		    	}
	    	}
	    }
	    @media (max-width: 991px){
	    	&{
	    		flex-wrap: wrap;
	    		.cour_one{
	    			margin: 0;
    				width: 100%;
	    		}
	    		.cour_tow{
	    			width: 100%;
	    			.o, .t{
	    				height: 467px;
					    width: 100%;
					    margin-top: 10px;
	    			}
	    		}
	    	}
	    }
	    @media (max-width: 669px){
	    	&{
	    		.cour_one{
    			    height: 233px;;
	    		}
	    		.cour_tow{
	    			.o, .t{
    				    height: 233px;
	    			}
	    		}
	    	}
	    }
	    @media (max-width: 513px){
	    	&{
	    		.over{
	    			h3{
	    				font-size: 14px !important;
						margin: 6px 0 0 0 !important;
	    			}
	    		}
	    	}
	    }
    }
}

/* Our Partners */
.our_partners{
    width: 100%;
    margin: 74px 0 0 0;
	h2{
		color: #222;
	    padding: 17px 0 8px 0;
	    margin: 0;
	    text-align: center;
	    font-size: 36px;
	    position: relative;
	    &:before{
		    content: "";
		    position: absolute;
		    bottom: -2px;
		    background-color: #269ab4;
		    left: 50%;
		    transform: translateX(-50%);
		    width: 10%;
		    height: 2px;
	    }
    }
    .di{
	    width: 100%;
	    margin: 41px 0 0 0;
	    .owl-carousel{
	    	img{
	    		width: 100px;
	    	}
	    	.owl-item > div{
	    		display: flex;
	    		align-items: center;
	    		justify-content: center;
	    	}
	    }
    }
}

/* Business */
.kpi-business{
	width: 100%;
    padding: 10px 0 49px 0;
	h2{
        text-align: center;
	    margin: 39px 0 7px 0;
	    font-size: 47px;
	    font-weight: bold;
	    color: #3a343a;
	    line-height: 1.25;
	}
	.business-boxs{
		width: 100%;
	    margin-top: 45px;
	    display: grid;
	    overflow: hidden;
	    grid-template-columns: repeat(5, 1fr);
	    grid-gap: 20px 12px;
	    @media (max-width: 1200px){
			&{
				grid-template-columns: repeat(4, 1fr);
			}
		}
	    @media (max-width: 991px){
			&{
				grid-template-columns: repeat(3, 1fr);
			}
		}
		@media (max-width: 767px){
			&{
			    grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (max-width: 470px){
			&{
			    grid-template-columns: repeat(1, 1fr);
			}
		}
	    .box{
		    height: 187px;
		    cursor: pointer;
	        border-radius: 4px;
    		overflow: hidden;
    		text-decoration: none;
		    position: relative;
		    &:hover .info svg{
			    fill: #2daec7;
    		}
    		&:hover .info h3{
			    color: #2daec7;
    		}
    		&:hover .content{
		    	    transform: scale(1.2);
			}
    		.content{
    			width: 100%;
    			height: 100%;
		    	background-position: center;
			    background-size: cover;
			    background-repeat: no-repeat;
			    transition: all 1s;
		    	display: flex;
		    	align-items: center;
		    	justify-content: center;
		    	position: relative;
		    	&:before{
		    		content: '';
		    		background: rgba(0,0,0,.6);
		    		position: absolute;
		    		top: 0;
		    		left: 0;
		    		width: 100%;
		    		height: 100%;
		    	}
		    }
		    .subjects{
		    	background-image: url("../img/subject.jpg");
		    }
		    .softwares{
		    	background-image: url("../img/softwares.jpg");
		    }
		    .development{
		    	background-image: url("../img/development.jpg");
		    }
		    .short{
		    	background-image: url("../img/short.jpg");
		    }
		    .courses{
		    	background-image: url("../img/courses.jpg");
		    }
		    .info{
	    		position: absolute;
	    		top: 50%;
	    		left: 50%;
	    		width: 100%;
	    		transform: translate(-50%, -50%);
	    		svg{
			        fill: #FFF;
				    // width: 35px;
			     //    height: 33px;
				    transition: .2s;
				    margin: 0 auto 15px auto;
				    display: block;
	    		}
	    		h3{
			        color: #FFF;
				    font-weight: 700;
    				font-size: 18px;
				    margin: 14px 0 0 0;
				    transition: .2s;
				    text-align: center;
	    		}
	    	}
	    }
	}
}

/* Register */
.reg-free{
	width: 100%;
    margin-top: 37px;
	background: #ededee;
	.container{
	    height: 100%;
	    .content{
			width: 100%;
			height: 100%;
			.tow{
				text-align: center;
			    padding: 34px 0px;
			    p{
			    	color: #3a343a;
		    	    font-size: 21px;
			        font-weight: 800;
				    margin-bottom: 32px;
			    }
			    a{
			    	text-decoration: none;
				    padding: 11px 60px;
				    color: #FFF;
				    font-size: 18px;
				    cursor: pointer;
				    background: #269ab4;
				    line-height: 1.8;
				    transition: .2s;
				    font-weight: 500;
				    &:hover{
				    	background: #6a2f8d;
				    }
			    }
			}
		}
	}
}


/* Footer */
// footer{
//     width: 100%;
//     padding: 29px 0 0 0;
//     .all{
//     	display: flex;
//     	margin: 20px 0 31px 0;
//     	width: 100%;
//     	height: 100%;
//     	.all > div {
// 		    padding: 0 10px;
// 		}
// 		.img{
// 		    width: 32%;
// 			h3{
// 				color: #3a343a;
// 			    font-size: 22px;
// 			    font-weight: 600;
// 			    margin-bottom: 13px;
// 			}
// 			p{
// 			    color: #3a343a;
// 			    margin: 0;
// 			    font-size: 15px;
// 			    font-weight: 600;
// 			    line-height: 24px;
// 			}
// 			form{
// 		        width: 81%;
// 			    height: 38px;
// 			    position: relative;
// 			    margin-top: 16px;
// 				input{
// 				    width: 100%;
// 				    height: 100%;
// 			       	background: #ededee;
// 				    border: 2px solid #269ab4;
// 				    outline: none;
// 				    text-indent: 5px;
// 				    transition: .2s;
// 			        font-size: 14px;
// 				    font-weight: 400;
// 				}
// 				input:focus{
// 					border:	2px solid #6f2e84;
// 					transition: .2s;
// 				}
// 				input:focus + button{
// 					transition: .2s;
// 					background: #6f2e84;
// 				}
// 				button{
// 				    position: absolute;
// 				    right: 0;
// 				    height: 100%;
// 				    border: 0;
// 				    width: 52px;
// 				    transition: .2s;
// 				    background: #269ab4;
// 				    color: #FFF;
// 				    font-weight: bold;
// 				    outline: none;
// 				    i{
// 				    	color: #FFF;
// 				    }
// 				}
// 			}
// 			.icon{
// 		    	margin: 20px 0 10px 0;
// 			    i{
// 				    cursor: pointer;
// 				    font-size: 23px;
// 				    margin-right: 19px;
// 				}
// 				p{
// 					margin: 0;
// 				    font-size: 15px;
// 				    margin-bottom: 5px;
// 				}
// 			}
// 			/*
// 			img{
// 			    width: 163px;
//     			margin: 15px 0 0 0;
//     		}*/
// 		}
// 		.info{
// 		    width: 23.3333333%;
// 		    .logo_ftr{
// 	    	    width: 138px;
//     			margin: 10px 0 15px 14px;
// 		    }
// 			a{
// 				text-decoration: none;
// 				img{
// 				    width: 187px;
// 				}
// 				&:last-of-type{
// 					img{
// 					    width: 164px;
// 					    margin-left: 11px;
// 					    margin-bottom: 17px;
// 					}
// 				}
// 			}
// 		}
// 		.links1{
// 		    width: 23.3333333%;
// 		    h3{
// 				color: #3a343a;
// 			    font-size: 22px;
// 			    font-weight: 600;
// 			    margin-bottom: 13px;
// 			}
// 			a{
// 			    display: block;
// 			    margin: 0;
// 			    margin-bottom: 8px;
// 			    font-size: 16px;
// 			    letter-spacing: 0.5px;
// 			    color: #3a343a;
// 			    font-weight: 700;
// 			}
// 		}
// 		@media (max-width: 1086px){
// 			&{
// 				flex-wrap: wrap;
// 				.img{
// 					width: 50%;
//     				margin-bottom: 24px;
// 				}
// 				.info{
// 			    	width: 50%;
// 		    	    text-align: center;
//     				margin-bottom: 24px;
//     				.logo_ftr{
//     					margin-right: auto;
//     					margin-left: auto;
//     					display: block;
//     				}
//     				a{
//     					&:last-of-type img{
//     						margin: 0;
//     					}
//     				}
// 				}
// 				.links1{
// 					width: 50%;
// 					margin-bottom: 24px;
// 				}
// 			}
// 		}
// 		@media (max-width: 991px){
// 			&{
// 				.info{
//     				a{
//     					&:last-of-type img{
// 						 	margin-left: 11px;
// 					    	margin-bottom: 17px;
//     					}
//     				}
// 				}
// 			}
// 		}
// 		@media (max-width: 825px){
// 			&{
// 				.img{
// 					width: 100%;
// 				}
// 				.info{
// 			    	width: 100%;
//     				a{
//     					&:last-of-type img{
//     						margin: 0;
//     					}
//     				}
// 				}
// 				.links1{
// 					width: 100%;
// 					text-align: center;
// 					margin-bottom: 24px;
// 				}
// 			}
// 		}
// 		@media (max-width: 385px){
// 			&{
// 				.info{
//     				a{
//     					&:last-of-type img{
// 						 	margin-left: 11px;
// 					    	margin-bottom: 17px;
//     					}
//     				}
// 				}
// 			}
// 		}
// 	}
// 	.rights{
// 	    width: 100%;
//     	background-color: #3a343a;
//     	h3{
// 		    margin: 0;
// 		    text-align: center;
// 		    padding: 13px 0;
// 		    font-size: 17px;
// 		    color: #FFF;
//     	}
// 	}
// }
footer{
    width: 100%;
    padding: 29px 0 0 0;
    background-color: #3a343a;
    .all{
    	display: grid;
    	margin: 20px 0 83px 0;
    	width: 100%;
    	height: 100%;
    	grid-template-columns: repeat(5, 1fr);
    	grid-gap: 10px;
    	.all > div {
		    padding: 0 15px;
		}
		.links1{
		    h3{
			    color: #FFF;
			    font-size: 16px;
			    font-weight: 600;
			    margin-bottom: 12px;
			}
			a{
		       display: block;
			    margin: 0;
			    margin-bottom: 8px;
			    font-size: 14px;
			    letter-spacing: 0.5px;
			    color: #FFF;
			    font-weight: 200;
			}
		}
		@media (max-width: 1112px){
			&{
			    grid-template-columns: repeat(3, 1fr);
			    .links1{
			    	padding: 0 !important;
			    	margin-bottom: 28px;
			    }
			}
		}
		@media (max-width: 767px){
			&{
			    grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (max-width: 450px){
			&{
			    grid-template-columns: repeat(1, 1fr);
			}
		}
	}
	.rights{
	    width: 100%;
        background: #4a4d55;
    	h3{
		    margin: 0;
		    text-align: center;
		    padding: 13px 0;
		    font-size: 17px;
		    color: #FFF;
    	}
	}
}