## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<!------ Footer One --------->
<footer>
  <div class="container">
    <div class="all">
    <div class="info">
      <img class="logo_ftr" src="${static.url('img/logo1.png')}">
      <a href="/kpiacademy/app/play_store">
        <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png">
      </a>
      <a href="/kpiacademy/app/app_store">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/135px-Download_on_the_App_Store_Badge.svg.png">
      </a>
    </div>
    <div class="links1">
      <h3>Small Print</h3>
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Data Processing</a>
      <a href="#">Agreement</a>
      <a href="#">Cookie Policy</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="links1" style="margin-bottom: 0px;">
      <h3>About us</h3>
      <a href="/kpiacademy/aboutus">About KPI Academy</a>
      <a href="#">Our Blog</a>
      <a href="#">The Team</a>
      <a href="#">Help center</a>
      <a href="#">How It Works</a>
    </div>
    <div class="img">
      <h3>Contact Us</h3>
      <p>Knowledge Pathways International Ltd</p>
      <p>Unit 1 Block B, The Knowledge Gateway,</p>
      <p>University of Essex, Colchester, CO4 3ZL</p>
      <form>
        <input type="email" placeholder="Your Email Address">
        <button><i class="fas fa-paper-plane"></i></button>
      </form>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
    </div>
  </div>
  <div class="rights">
    <h3>© 2020 KPI Academy All rights reserved.</h3>
  </div>
</footer>

% if False:
% if uses_bootstrap:
  <div class="container-fluid wrapper-footer">
    <footer>
      <div class="row">
        <div class="col-md-9">
          <nav class="navbar site-nav navbar-expand-sm" aria-label="${_('About')}">
            <ul class="navbar-nav">
              % for item_num, link in enumerate(footer['navigation_links'], start=1):
                <li class="nav-item">
                  <a class="nav-link" href="${link['url']}">${link['title']}</a>
                </li>
              % endfor
            </ul>
          </nav>

          ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
          <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>

          <nav class="navbar legal-nav navbar-expand-sm" aria-label="${_('Legal')}">
            <ul class="navbar-nav">
              % for item_num, link in enumerate(footer['legal_links'], start=1):
                <li class="nav-item">
                  <a class="nav-link" href="${link['url']}">${link['title']}</a>
                </li>
              % endfor
              <li class="nav-item">
                <a class="nav-link" href="${footer['edx_org_link']['url']}">${footer['edx_org_link']['text']}</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3">
          ## Please leave this link and use one of the logos provided
          ## The OpenEdX link may be hidden when this view is served
          ## through an API to partner sites (such as marketing sites or blogs),
          ## which are not technically powered by Open edX.
          % if not hide_openedx_link:
            <div class="footer-about-openedx">
              <p>
                <a href="${footer['openedx_link']['url']}">
                  <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
                </a>
              </p>
            </div>
          % endif
        </div>
      </div>
    </footer>
  </div>
% else:
  <div class="wrapper wrapper-footer">
    <footer id="footer-openedx" class="grid-container"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
    >
      <div class="colophon">
        <nav class="nav-colophon" aria-label="${_('About')}">
          <ol>
              % for item_num, link in enumerate(footer['navigation_links'], start=1):
              <li class="nav-colophon-0${item_num}">
                <a id="${link['name']}" href="${link['url']}">${link['title']}</a>
              </li>
              % endfor
          </ol>
        </nav>

        % if context.get('include_language_selector', footer_language_selector_is_enabled()):
            <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
        % endif

        <div class="wrapper-logo">
          <p>
            <a href="/">
              ## The default logo is a placeholder.
              ## You can either replace this link entirely or update
              ## the FOOTER_ORGANIZATION_IMAGE in Django settings.
              ## If you customize FOOTER_ORGANIZATION_IMAGE, then the image
              ## can be included in the footer on other sites
              ## (e.g. a blog or marketing front-end) to provide a consistent
              ## user experience.  See the branding app for details.
              <img alt="organization logo" src="${footer['logo_image']}">
            </a>
          </p>
        </div>

        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>

        <nav class="nav-legal" aria-label="${_('Legal')}">
          <ul>
            % for item_num, link in enumerate(footer['legal_links'], start=1):
              <li class="nav-legal-0${item_num}">
                <a href="${link['url']}">${link['title']}</a>
              </li>
            % endfor
            <li><a href="${footer['edx_org_link']['url']}">${footer['edx_org_link']['text']}</a></li>
          </ul>
        </nav>
      </div>

      ## Please leave this link and use one of the logos provided
      ## The OpenEdX link may be hidden when this view is served
      ## through an API to partner sites (such as marketing sites or blogs),
      ## which are not technically powered by OpenEdX.
      % if not hide_openedx_link:
      <div class="footer-about-openedx">
        <p>
          <a href="${footer['openedx_link']['url']}">
            <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
          </a>
        </p>
      </div>
      % endif
    </footer>
  </div>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
% endif